* {
  box-sizing: border-box;
}

html {
  font-size: 17px;
  font-weight: 300;
  color: #909090;
  line-height: 36px;
  font-family: 'Quicksand', sans-serif;
}

.container {
  box-sizing: content-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  margin: 0;
}

p,
ul,
ol,
figure {
  margin: 0 0 10px 0;
}

* + p,
* + ul,
* + ol,
* + figure {
  margin-top: 10px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 34px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em;
}

a,
.link {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
.link:hover {
  text-decoration: none;
  color: #13c9bd;
}

img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.logo-item {
  align-items: center;
}

.logo {
  font-size: 75px;
  text-align: center;
  line-height: 80px;
}

.logo-description {
  font-size: 49px;
  letter-spacing: 0.42px;
  color: #000000;
  margin-left: 57px;
}

.img-sm {
  height: 52px;
  width: 52px;
  position: absolute;
  border-radius: 50%;
}

.img-md {
  height: 147px;
  width: 147px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-yellow {
  background-color: #ebbb11;
}

.img-red {
  background-color: #d94748;
}

.img-blue {
  background-color: #5094f2;
}

.arrows {
  filter: grayscale(1);
}

@media (min-width: 480px) {
  .container {
    width: 400px;
  }
}

@media (min-width: 640px) {
  .container {
    width: 560px;
  }
}

@media (min-width:960px) {
  .container {
    width: 880px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 15px;
  }
  .container {
    width: 920px;
  }

  .wrapper {
    width: 920px;
    margin: 0 auto;
    padding: 0 10px;
  }

  h2 {
    font-size: 26px;
  }

  .img-xs {
    height: 44px;
    width: 44px;
    position: absolute;
    border-radius: 50%;
  }

  .img-lg {
    height: 186px;
    width: 186px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    font-size: 60px;
    text-align: center;
    line-height: 74px;
}
}
