<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Prechu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/swiper.min.css" />
  </head>

  <body>
    <section class="section section-top">
      <section class="section-foreground">
        <section class="section-header-top section-overlay">
          <div class="container">
            <div class="layout">
              <div class="logo-item">
                <a href="index.html" class="logo img-sm img-xs img-blue">“</a>
                <a href="index.html" class="logo-description">Prechu</a>
              </div>
              <nav class="nav">
                <a href="#" class="nav-toggle"><span></span></a>
                <ul class="nav-menu">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Products</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a  href="#">Contact</a></li>
                </ul>
                <ul class="nav-menu-mobile">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Products</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </section>
        <div class="container">
          <section class="section-header-bottom-mobile">
            <section class="section-header-bottom-left">
              <img class="section-image" src="images/iphone.png" alt="img" />
            </section>
            <section class="section-header-bottom-right">
              <p class="section-description">
                Lorem Ipsum is simply dummy text of the printing & typesetting
              </p>
              <div class="button-controller">
                <button class="button button-primary button-lg button-sm">
                  <a href="#"><i class="icon-check" aria-hidden="true"></i>Sign up now</a>
                </button>
              </div>
            </section>
          </section>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <section class="section-header-bottom">
                  <section class="section-header-bottom-left">
                    <img class="section-image" src="images/iphone.png" alt="img" />
                  </section>
                  <section class="section-header-bottom-right">
                    <p class="section-description">
                      Lorem Ipsum is simply dummy text of the printing &
                      typesetting
                    </p>
                    <div class="button-controller">
                      <button class="button button-primary button-lg button-sm">
                        <a href="#"><i class="icon-check" aria-hidden="true"></i>Sign up now</a>
                      </button>
                    </div>
                  </section>
                </section>
              </div>
              <div class="swiper-slide">
                <section class="section-header-bottom">
                  <section class="section-header-bottom-left">
                    <img class="section-image" src="images/iphone.png" alt="img" />
                  </section>
                  <section class="section-header-bottom-right">
                    <p class="section-description">
                      Lorem Ipsum is simply dummy text of the printing &
                      typesetting
                    </p>
                  </section>
                </section>
              </div>
              <div class="swiper-slide">
                <section class="section-header-bottom">
                  <section class="section-header-bottom-left">
                    <img class="section-image" src="images/iphone.png" alt="img" />
                  </section>
                  <section class="section-header-bottom-right">
                    <p class="section-description">
                      Lorem Ipsum is simply dummy text of the printing &
                      typesetting
                    </p>
                  </section>
                </section>
              </div>
            </div>
            <div class="swiper-button-prev arrows"></div>
            <div class="swiper-button-next arrows"></div>
          </div>
        </div>
      </section>
    </section>
    <div class="triangle-border"></div>
    <main class="main">
      <section class="section-main-top">
        <div class="wrapper">
          <div class="grid">
            <div class="grid-item width-1-1 width-1-3-lg">
              <div class="card">
                <div class="container">
                  <div class="card-content">
                    <figure class="card-image img-md img-lg img-blue ">
                      <i class="icon-pencil" aria-hidden="true"></i>
                    </figure>
                    <div class="card-text">
                      <h2 class="card-title">Contrary to popular</h2>
                      <p class="card-description">
                        Lorem Ipsum is not simply random text. It has roots in a
                        piece
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item width-1-1 width-1-3-lg">
              <div class="card">
                <div class="container">
                  <div class="card-content">
                    <figure class="card-image img-md img-lg img-red">
                      <i class="icon-computer" aria-hidden="true"></i>
                    </figure>
                    <div class="card-text">
                      <h2 class="card-title">Contrary to popular</h2>
                      <p class="card-description">
                        Lorem Ipsum is not simply random text. It has roots in a
                        piece
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item width-1-1 width-1-3-lg">
              <div class="card">
                <div class="container">
                  <div class="card-content">
                    <figure class="card-image img-md img-lg img-yellow">
                      <i class="icon-basket" aria-hidden="true"></i>
                    </figure>
                    <div class="card-text">
                      <h2 class="card-title">Contrary to popular</h2>
                      <p class="card-description">
                        Lorem Ipsum is not simply random text. It has roots in a
                        piece
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="container">
        <section class="section-main-bottom">
          <h1 class="section-title">The Shopping cart</h1>
          <section class="section-content">
            <figure class="section-image">
              <img src="images/cart.jpg" alt="img" />
            </figure>
            <article class="article">
              <h2 class="section-subtitle">Some Bullet text here</h2>
              <p class="section-description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                Lorem Ipsum has been the industry's standard dummy text ever
                When an unknown printer took a galley of type and scrambled It
                to make a type specimen book. It has survived not only five
                centuries But also the leap into electronic typesetting,
                Remaining essentially unchanged. It was popularised The release
                of Letraset sheets containing Lorem Ipsum passages
              </p>
            </article>
          </section>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <p class="footer-text">Copyright © 2012-2013 cssauthor.com</p>
      </div>
    </footer>
    <script src="JS/jquery.min.js"></script>
    <script src="JS/swiper.min.js"></script>
    <script src="JS/main.js"></script>
    <script src="JS/style.js"></script>
  </body>
</html>
